{{!-- Code Source: https://codepen.io/steveeeie/pen/NVWMEM --}}

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/projectsstyle.css">

<h1 class="text-center pt-4 text-light headingTitle">My Expertise</h1>
<section class="hero-section">
    <div class="card-grid">
        <a class="card" target="_blank" href="https://github.com/param0510/NewsFlix_CWH.git">
            <div class="card__background"
                style="background-image: url(images/projects/newsFlixAppScreen.png)">
            </div>
            <div class="card__content">
                <p class="card__category">[Express/API/Node/JS]</p>
                <h3 class="card__heading">NewsFlix App</h3>
            </div>
        </a>
        <a class="card" target="_blank" href="https://github.com/param0510/COMP1011_iTunes-Clone.git">
            <div class="card__background"
                style="background-image: url(images/projects/iTunesAppScreen.png)">
            </div>
            <div class="card__content">
                <p class="card__category">[Java/CRUD/API]</p>
                <h3 class="card__heading">iTunes Clone App</h3>
            </div>
        </a>
        <a class="card" target="_blank" href="https://github.com/param0510/MeanTime_App-Manager_Public.git">
            <div class="card__background"
                style="background-image: url(images/projects/meanTimeAppScreen.png)">
            </div>
            <div class="card__content">
                <p class="card__category">[ASP.NET/MS-SQL/Azure/MVC]</p>
                <h3 class="card__heading">MeanTime App</h3>
            </div>
            </li>
            <a class="card" target="_blank" href="https://github.com/param0510/comp1006-CMS.git">
                <div class="card__background"
                    style="background-image: url(https://images.unsplash.com/photo-1560472355-109703aa3edc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80)">
                </div>
                <div class="card__content">
                    <p class="card__category">[PHP/AWS/MySQL/Bootstrap]</p>
                    <h3 class="card__heading">CMS - Content management System</h3>
                </div>
            </a>
            <div>
</section>